@media(max-width:780px){
    .search-box button{
        position: absolute;
    }
    header .nav-last{
        margin-left: 100px;
      }
    header ul{
        position: fixed;
        top:80px;
        bottom: 0;
        right: -100%;
        background: rgba(0,0,0,0.7);
        height: calc(100vh - 80px);
        width:100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        z-index: 32;
        padding-left: 20px;
    }
    header .menu{
        display: block;
        width:100px;
        text-align: center;
        z-index: 10;
    }
    header ul li{
        display: flex;
        align-items: center;
      }
    header ul li a{
        color: var(--text-color-default-white);
        font-weight: 600;
    }
    #chk1:checked ~ ul{
        right: 0; 
    }
    .thumbnail{
        position: absolute;
        visibility: hidden;
    }
    .arrows{
        position: absolute;
        top: 80%;
        left: 4.9%;
        z-index: 7;
        width: 300px;
        max-width: 30%;
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 68%;
    }
    .arrows button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #eee4;
        border: none;
        color: #fff;
        font-family: monospace;
        font-weight: bold;
        transition: .5s;
    }
    .carousel .list .item .content{
        position: absolute;
        top: 20%;
        width: 100%;
        max-width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding-right: 30%;
        box-sizing: border-box;
        color: #fff;
        text-shadow: 0 5px 10px #0004;
    }
    .aside {
      background-color: rgb(195, 255, 0);
      max-width: 100%;
  }
  
  .search-result {
      grid-area: sresult;
      background-color: red;
  }
  
  #uzesSection {
      grid-area: usection;
  }
  .tbody {
    display: grid;
    height: 100%;
      grid-template-columns: 0.7fr 1fr 1fr 1fr;
      grid-template-rows: 0.001fr 0.1fr 1fr;
      grid-template-areas:
          "aside aside aside aside"
          "sresult sresult sresult sresult"
          "usection usection usection usection";
      margin: 20px 5%;;
  }
  
  };
  /*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  .footer-col:nth-child(1){
      margin-top: 40px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }