:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Inter", sans-serif;
    background-color: blueviolet;
  }
  
  .container {
    display: grid;
    height:100%;
    margin-left: 4%;
    margin-right: 4%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2fr 0.4fr 2fr 1fr 1fr 2fr 2fr;
    grid-template-areas:
      "title-exhi title-exhi title-exhi title-exhi"
      "uzesgelen uzesgelen uzesgelen uzesgelen"
      "title-artist title-artist title-artist title-artist"
      "artist artist artist artist"
      "news1 news1 news2 news2"
      "news1 news1 news3 news3"
      "recommend recommend recommend recommend"
      "footer footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }
  .title-exhi{
    background: #84ffff;
    grid-area: title-exhi;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .uzesgelen{
    background: #84ffff;
    grid-area: uzesgelen;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 200px;
  }
  .title-artist{
    background: #84ffff;
    grid-area: title-artist;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .artist{
    background: #84ffff;
    grid-area: artist;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 200px;
  }
  #news1 {
    background: #6fffd2;
    grid-area: news1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #news2 {
    background: #64ffda;
    grid-area: news2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #news3 {
    background: #73ffba;
    grid-area: news3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .recommend{
    background: #73ffba;
    grid-area: recommend;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
      "zurag bichwer bichwer";
    grid-gap: 0.2rem;
     & .zurag{
        background: #1de9b6;
        grid-area: zurag;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);

    }
    & .bichwer{
        background: #1de9b6;
        grid-area: bichwer;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
    }
  }
  footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  @media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.4fr 2fr 0.4fr 2fr 0.4fr 2fr 1fr 1fr 1fr 1fr 2fr 2fr;
        grid-template-areas:
          "header header header header"
          "main main main main"
          "title-exhi title-exhi title-exhi title-exhi"
          "uzesgelen uzesgelen uzesgelen uzesgelen"
          "title-artist title-artist title-artist title-artist"
          "artist artist artist artist"
          "news1 news1 news1 news1"
          "news1 news1 news1 news1"
          "news2 news2 news2 news2"
          "news3 news3 news3 news3"
          "recommend recommend recommend recommend"
          "footer footer footer footer";
    }
    .recommend{
        grid-area: recommend;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "zurag"
          "bichwer";
  }
}