*{
    font-family: Poppins, sans-serif;
}
:root{
  /* colors */
  --text-color-default-black: #000000;
  --text-color-default-white: #ffffff;
  --primary-color: #007474;
  --footer-background-color-darker: #222121;
  --footer-border-color-lighter: #898888;
  --footer-text-color-side: #CCCCCC;
  /* shadows */
  --img-shadow-default: linear-gradient(to top, rgba(0.2, 0.25, 0.3), transparent);
  /* border radius */
  --imgs-border-radius-default: 2%;

}
h1{}
.artist-line{
    margin-bottom: 30px;
}
.captions{
    margin-bottom: 40px;
    align-items: center;
}
.artists{
    padding: 0 30%;
}
.artists-items {
    vertical-align: top;
  }
.artists-item-1{
    background-image: var(--img-shadow-default), url('images/artist-1.jpg');
}
.artists-item-2{
    background-image: var(--img-shadow-default), url('images/artist-2.jpg');
}
.artists-item-3{
    background-image: var(--img-shadow-default), url('images/artist-3.jpg');
}
.artists-item-4{
    background-image: var(--img-shadow-default), url('images/artist-1.jpg');
}
.artists-item-5{
    background-image: linear-gradient(to top, rgba(0.2, 0.25, 0.3), transparent), url('images/artist-2.jpg');
}
.artists-item-{
    background-image: linear-gradient(to top, rgba(0.2, 0.25, 0.3), transparent), url('images/artist-2.jpg');
}
.artists-rec-1{
    background-image: linear-gradient(to top, rgba(0.2, 0.25, 0.3), transparent), url('images/rec-1.jpg');
}
.artists-rec-1{
    background-size: cover;
    border-radius: var(--imgs-border-radius-default);
    position: relative;
    height: 398px;
    width: 398px;
}
.artists-item-1,
.artists-item-2,
.artists-item-3,
.artists-item-4,
.artists-item-5,
.artists-item-6{
    background-size: cover;
    border-radius:  var(--imgs-border-radius-default);
    position: relative;
    height: 551px;
    width: 100%;
}
.artist-button{
    padding: 15px 18px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
}
.description {
    color: var(--text-color-default-white);
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.artist-name, .icon {
    display: block;
    text-align: center;
}
.icon-size {
    width: 10px;
    height: 10px;
    margin-right: 6px;
}
.nomiddlezuras{
  text-decoration: no;
}
/* swiper */
.swiper-body{
      position: relative;
    }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-size: cover;

    align-items: center;
    border-radius: var(--imgs-border-radius-default);
  }

  .swiper-slide img .icon-size {
    width: 10px;
    height: 10px;
    margin-right: 6px;
}
.swiper-pagination{
    position: relative;
    margin-top: 20px;
}
/* news hesgyn css */
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main'
    'menu footer';
  gap: 3vw;
}

.grid-container > div {
  padding: 18% 0;
  font-size: 30px;
  border-radius: 17px;
  background-size: cover;
  color: var(--text-color-default-white);
  font-size: 18px;

}
.item2 { 
    grid-area: menu; 
    background-image: linear-gradient(to top, rgba(0.2, 0.25, 0.3), transparent), url('images/news-1.jpg');
  }
  
  .item3 { 
    grid-area: main; 
    background-image: linear-gradient(to top, rgba(0.2, 0.25, 0.3), transparent),url('images/news-2.jpg');
  }
  
  .item5 { 
    grid-area: footer; 
    background-image: linear-gradient(to top, rgba(0.2, 0.25, 0.3), transparent),url('images/news-3.jpg');
  }
  .news-article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 15%;
}
/* recommend heseg */
.recommend-title{
    display: block;
}
/* advertisment hseg */
.adver {
  width: 1271px;
  height: 179px;
  background-image: url(images/ad-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  font-size: 24px;
  padding-left: 40px;
  padding-top: 20px;
  position: relative;
}
.ad-article{
  position: relative;
  padding-top: 30px;
}





  /* font-size:1.3em;
  align-items: center;
} */
/* footer hseg */
.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color:  var(--footer-background-color-darker);
  color: var(--text-color-default-white);
  height: 300px;
  border: 0.5px solid var(--footer-border-color-lighter);
}
.footer-section {
  flex: 1;
  padding: 20px;
  box-sizing: border-box; 
  text-align: left; 
  font-size:1.5em;
  justify-content: center; 
  padding-top: 30px;
  border: 0.5px solid var(--footer-border-color-lighter);
  margin: -0.5px;  
}
.footer-section ul {
  list-style: none; 
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 5px; 
}
.footer-section ul li a {
  text-decoration: none;
  color: var(--footer-text-color-side);
  font-size:0.8em;
}
.footer-copy {
  display: flex;
  height: 80px;
  background-color:var(--text-color-default-black);
  color: var(--footer-text-color-side);
  justify-content: center;
  font-size:1.3em;
  align-items: center;
}
    
.header {
  height: 80px;
}

.navbar {
  padding: 0 50px;
}

.navbar-elements {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar-elements li {
  padding: 0px;
}

.navbar-elements li.logo {
  font-size: 24px;
}

.navbar-elements li a {
  text-decoration: none;
  color: var(--text-color-default-black)
}

.navbar-elements li.button-bg {
  display: flex;
  font-size:0.8em;
  align-items: center;}

.navbar-elements li.button-bg button {
  margin-left: 5px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.shop-icon img {
  height: 30px; /* Adjust as needed */
  width: auto; /* To maintain aspect ratio */
}